[submodule "experiments/face-alignment"]
	path = experiments/face-alignment
	url = git@github.com:ywangmy/face-alignment.git
[submodule "experiments/PCL-I2G"]
	path = experiments/PCL-I2G
	url = https://github.com/zory233/PCL-I2G.git
